<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="font-family: 'Minecraft', sans-serif;">
      EnchantedBook
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inventario</ion-title>
    </ion-toolbar>
  </ion-header>


  <section>
    <h4>Armaduras</h4>

    <div>
      <button>
        <img src="/assets/images/themes/diamond/helmet.png" alt="diamond_helmet">
        <p>Casco</p>
      </button>

      <button>
        <img src="/assets/images/themes/diamond/chestplate.png" alt="diamond_chestplate">
        <p>Coraza</p>
      </button>
      
      <button>
        <img src="/assets/images/themes/diamond/leggings.png" alt="diamond_leggings">
        <p>Mallas</p>
      </button>
      
      <button>
        <img src="/assets/images/themes/diamond/boots.png" alt="diamond_boots">
        <p>Botas</p>
      </button>
      
      <button>
        <img src="/assets/images/turtle_shell.png" alt="turtle_shell">
        <p>Caparazón de tortuga</p>
      </button>
    </div>
  </section>


  <section>
    <h4>Armas</h4>

    <div>
      <button>
        <img src="/assets/images/themes/diamond/sword.png" alt="diamond_sword">
        <p>Espada</p>
      </button>
    
      <button>
        <img src="/assets/images/bow.png" alt="bow">
        <p>Arco</p>
      </button>
      
      <button>
        <img src="/assets/images/trident.png" alt="trident">
        <p>Tridente</p>
      </button>
      
      <button>
        <img src="/assets/images/crossbow.png" alt="crossbow">
        <p>Ballesta</p>
      </button>
      
      <button>
        <img src="/assets/images/mace.png" alt="mace">
        <p>Maza</p>
      </button>
    </div>
  </section>


  <section>
    <h4>Herramientas</h4>

    <div>
      <button>
        <img src="/assets/images/themes/diamond/pickaxe.png" alt="diamond_pickaxe">
        <p>Pico</p>
      </button>
      
      <button>
        <img src="/assets/images/themes/diamond/axe.png" alt="diamond_axe">
        <p>Hacha</p>
      </button>
      
      <button>
        <img src="/assets/images/themes/diamond/shovel.png" alt="diamond_shovel">
        <p>Pala</p>
      </button>
      
      <button>
        <img src="/assets/images/themes/diamond/hoe.png" alt="diamond_hoe">
        <p>Azadón</p>
      </button>
    </div>
  </section>


  <section>
    <h4>Objetos</h4>

    <div>
      <button>
        <img src="/assets/images/flint_and_steel.png" alt="flint_and_steel">
        <p>Mechero</p>
      </button>
      
      <button>
        <img src="/assets/images/shears.png" alt="shears">
        <p>Tijeras</p>
      </button>
      
      <button>
        <img src="/assets/images/fishing_rod.png" alt="fishing_rod">
        <p>Caña</p>
      </button>
      
      <button>
        <img src="/assets/images/brush.png" alt="brush">
        <p>Pincel</p>
      </button>
    </div>
  </section>


  <section>
    <h4>Equipamiento</h4>

    <div>
      <button>
        <img src="/assets/images/shield.png" alt="shield" class="img-large">
        <p>Escudo</p>
      </button>
      
      <button>
        <img src="/assets/images/elytra.png" alt="elytra" class="img-large">
        <p>Elitros</p>
      </button>
    </div>
  </section>
</ion-content>
